/*
*/
html { 
height: 100% }
body { 
    height: 100%; margin: 0; padding: 0; 
    font-size: 12px;
}
#map {
    border: 0;
    margin: 0;
    width: 100%;
    height:100%;
}
.highlight {
    background-color: white;
}
#menu ul {
    list-style-type: none;
    margin: 4px;
    padding: 0;
    
    text-align: center;
    position: relative;
}
.menu li {
    height: 32px;
    width: 207px;
    background-position: 0 0;
    background-repeat: no-repeat;
}

dl.form > dt {
    margin: 5px;
}

dl.form > dd {
    padding: 0 20px 10px 5px;
    margin: 0;
    display: block;
}

dl.form > dd  input{
    width: 200px;
    padding: 4px;
}

ul#categories {
    list-style-type: none;
    margin: 15px;
    padding: 0;
    width: 270px;
}

ul#categories > li {
    margin: 0;
    padding: 2px;
}

ul#categories > li > a {
    float: right;
}

#new-category {
    width: 230px;
    /*float: left;*/
}
#add-category {
    float: left;
    font-size:0.8em;
    margin-left: 3px;

}
.remove-category {
    /*font-size: 3px;*/
}

input.error {
    background-color: red;
}

#dialogs {
    
}

#menu li {
    background-color: white;
    display: block;
    width: 200px;
    border: 2px solid black;
    border-radius: 5px;
    line-height: 32px;
    font-weight: bold;
}

#menu li.active {
    background-color: #999999;
}


#menu li:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

#menu li > ul {
    /*display: none;
    position: relative;
    left: 207px;
    top: 0px;
    padding: 0;
    margin: 0;*/

}

/* Content textarea editor */
#content {
    width: 550px;
    height: 300px;
}