/*
*/
html { 
height: 100% }
body { 
    height: 100%; margin: 0; padding: 0; 
    font-size: 12px;
}
#map {
    border: 0;
    margin: 0;
    width: 100%;
    height:100%;
}
.highlight {
    background-color: white;
}

dl.form > dt {
    margin: 5px;
}

dl.form > dd {
    padding: 0 20px 10px 5px;
    margin: 0;
    display: block;
}

dl.form > dd  input{
    width: 200px;
    padding: 4px;
}

ul#categories {
    list-style-type: none;
    margin: 15px;
    padding: 0;
    width: 270px;
}

ul#categories > li {
    margin: 0;
    padding: 2px;
}

ul#categories > li > a {
    float: right;
}

#new-category {
    width: 230px;
    /*float: left;*/
}
#add-category {
    float: left;
    font-size:0.8em;
    margin-left: 3px;

}
.remove-category {
    /*font-size: 3px;*/
}

input.error {
    background-color: red;
}

#dialogs {
    
}

#menu ul {
    list-style-type: none;
    margin: 4px;
    padding: 0;
    
    text-align: center;
    position: relative;
}

#menu > ul {
    margin-bottom: 1.5em;
}

#menu li {
    font-family: Helvetica;
    background-color: white;
    display: block;
    width: 150px;
    border: 2px solid black;
    border-radius: 5px;
    line-height: 28px;
    font-weight: bold;
    margin-bottom: 2px;
    height: 28px;
    opacity: 0.7;
    font-weight: bolder;
}

#menu li.executing {
    background: transparent url("../imgs/ajax-loader.gif") no-repeat center center;
}

#menu li.active {
    opacity: 1;
    background-color: #999;
    color: white;
    text-shadow: black 0px 0px 5px;
    /*-webkit-text-stroke: 1px #000;*/
}


#menu li:hover {
    cursor: pointer;
    background-color: #AAA;
}

#menu li > ul {
    /*display: none;
    position: relative;
    left: 207px;
    top: 0px;
    padding: 0;
    margin: 0;*/

}

/* Content textarea editor */
textarea#content-editor {
    width: 100%;
    height: 300px;
}


/* Loading overlay */
.loading {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent url("../imgs/ajax-loader.gif") no-repeat center center;
    opacity: 0.5;
    z-index: 99;
    width: 100%;
    height: 100%;
}
